/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('/static/img/pablo-heimplatz-ZODcBkEohk8-unsplash.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 260px;
background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #6c027a;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
margin-top: 2rem;
color: white;
background-color: #731280;
width: 100%;
}

.login_btn:hover{
color: white;
background-color: rgba(0, 0, 0, 0.5);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}